.campo-texto{
    margin: 24px 0;
}
h1 {
    text-align: center;
}

.campo-texto label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: center;
}

.campo-texto input{
    background-color: rgb(2, 50, 104);
    box-shadow: 10px 10px 30px rgba(61, 8, 8, 0.05);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}